In [21]:
import pandas as pd
experience = pd.read_excel('Tableau CV-2.xlsx', sheet_name='EXPERIENCE')
skill = pd.read_excel('Tableau CV-2.xlsx', sheet_name='SKILL')
language = pd.read_excel('Tableau CV-2.xlsx', sheet_name='LANGUAGES')
certification = pd.read_excel('Tableau CV-2.xlsx', sheet_name='CERTIFICATION')
portfolio = pd.read_excel('Tableau CV-2.xlsx', sheet_name='PORTFOLIO')

In [22]:
import re
def stringSplit(strs):
    return(re.split(",", strs))

In [23]:
def getMonthYear(df, col):
    df[col+'_MY'] = pd.to_datetime(df[col]).dt.strftime('%m-%Y')
    return df

In [24]:
experience.head()

,Order,Type,Organization,Position,Start,End,Duration (Year),City,State,Association,Description,Tools,Hard Skill,Soft Skill,Category
0,1,Education,University of Brawijaya,Student,2017-08-19,2021-04-08,3.583333,Malang,Indonesia,-,Bachelor Degree with GPA 3.91.\nActivities and...,"Microsoft Office, R, Python, Windows Operating...","Programming, Statistical Analysis, Survey, Dat...","Team Work, Time Management, Communication",Related to Job
1,2,Work,KKU-PSBM FMIPA University of Brawijaya,Team Associate,2019-11-20,2020-10-31,0.916667,Malang,Indonesia,University of Brawijaya,KKU-PSBM (Kelompok Kajian Unggulan: Pemodelan ...,"Microsoft Office, R, SPSS, Minitab","Survey, Data Analysis, Questionnaire Making, Q...","Team Work, Time Management, Communication, Mul...",Related to Job
2,3,Work,PT Utama Abadi Sejahtera,Support Staff,2020-10-01,2021-07-31,0.750000,Malang,Indonesia,University of Brawijaya,PT Utama Abadi Sejahtera has been engaged in r...,"Microsoft Office, R, SPSS, Minitab","Survey, Data Analysis, Questionnaire Making, Q...","Team Work, Time Management, Communication, Mul...",Related to Job
3,4,Work,Sinarmas Mining,IT Trainee,2021-10-01,2022-03-04,0.416667,Jakarta,Indonesia,-,Trained to handle some projects related to IT ...,"Linux Operating System, Go, JavaScript, ReactJ...","Programming, Database Administration","Team Work, Time Management, Multitasking, Proj...",Related to Job
4,5,Education,Indonesia Endowment Fund for Education Agency,Awardee,2022-05-11,2024-08-16,2.250000,Jakarta,Indonesia,"Bogor Agricultural (IPB) University, Ministry ...",LPDP is committed to preparing Indonesian futu...,-,-,"Public Speaking, Communication, Team Work",Unrelated to Job

In [25]:
experience['Association'] = experience['Association'].apply(stringSplit)
experience['Tools'] = experience['Tools'].apply(stringSplit)
experience['Hard Skill'] = experience['Hard Skill'].apply(stringSplit)
experience['Soft Skill'] = experience['Soft Skill'].apply(stringSplit)
experience.head()

,Order,Type,Organization,Position,Start,End,Duration (Year),City,State,Association,Description,Tools,Hard Skill,Soft Skill,Category
0,1,Education,University of Brawijaya,Student,2017-08-19,2021-04-08,3.583333,Malang,Indonesia,[-],Bachelor Degree with GPA 3.91.\nActivities and...,"[Microsoft Office, R, Python, Windows Opera...","[Programming, Statistical Analysis, Survey, ...","[Team Work, Time Management, Communication]",Related to Job
1,2,Work,KKU-PSBM FMIPA University of Brawijaya,Team Associate,2019-11-20,2020-10-31,0.916667,Malang,Indonesia,[University of Brawijaya],KKU-PSBM (Kelompok Kajian Unggulan: Pemodelan ...,"[Microsoft Office, R, SPSS, Minitab]","[Survey, Data Analysis, Questionnaire Making...","[Team Work, Time Management, Communication, ...",Related to Job
2,3,Work,PT Utama Abadi Sejahtera,Support Staff,2020-10-01,2021-07-31,0.750000,Malang,Indonesia,[University of Brawijaya],PT Utama Abadi Sejahtera has been engaged in r...,"[Microsoft Office, R, SPSS, Minitab]","[Survey, Data Analysis, Questionnaire Making...","[Team Work, Time Management, Communication, ...",Related to Job
3,4,Work,Sinarmas Mining,IT Trainee,2021-10-01,2022-03-04,0.416667,Jakarta,Indonesia,[-],Trained to handle some projects related to IT ...,"[Linux Operating System, Go, JavaScript, Re...","[Programming, Database Administration]","[Team Work, Time Management, Multitasking, ...",Related to Job
4,5,Education,Indonesia Endowment Fund for Education Agency,Awardee,2022-05-11,2024-08-16,2.250000,Jakarta,Indonesia,"[Bogor Agricultural (IPB) University, Ministr...",LPDP is committed to preparing Indonesian futu...,[-],[-],"[Public Speaking, Communication, Team Work]",Unrelated to Job

In [26]:
print(experience.loc[1,'Start'].year)
print(experience.loc[1,'Start'].month)

2019
11

In [27]:
getMonthYear(experience, 'Start')
getMonthYear(experience, 'End')
experience.head()

,Order,Type,Organization,Position,Start,End,Duration (Year),City,State,Association,Description,Tools,Hard Skill,Soft Skill,Category,Start_MY,End_MY
0,1,Education,University of Brawijaya,Student,2017-08-19,2021-04-08,3.583333,Malang,Indonesia,[-],Bachelor Degree with GPA 3.91.\nActivities and...,"[Microsoft Office, R, Python, Windows Opera...","[Programming, Statistical Analysis, Survey, ...","[Team Work, Time Management, Communication]",Related to Job,08-2017,04-2021
1,2,Work,KKU-PSBM FMIPA University of Brawijaya,Team Associate,2019-11-20,2020-10-31,0.916667,Malang,Indonesia,[University of Brawijaya],KKU-PSBM (Kelompok Kajian Unggulan: Pemodelan ...,"[Microsoft Office, R, SPSS, Minitab]","[Survey, Data Analysis, Questionnaire Making...","[Team Work, Time Management, Communication, ...",Related to Job,11-2019,10-2020
2,3,Work,PT Utama Abadi Sejahtera,Support Staff,2020-10-01,2021-07-31,0.750000,Malang,Indonesia,[University of Brawijaya],PT Utama Abadi Sejahtera has been engaged in r...,"[Microsoft Office, R, SPSS, Minitab]","[Survey, Data Analysis, Questionnaire Making...","[Team Work, Time Management, Communication, ...",Related to Job,10-2020,07-2021
3,4,Work,Sinarmas Mining,IT Trainee,2021-10-01,2022-03-04,0.416667,Jakarta,Indonesia,[-],Trained to handle some projects related to IT ...,"[Linux Operating System, Go, JavaScript, Re...","[Programming, Database Administration]","[Team Work, Time Management, Multitasking, ...",Related to Job,10-2021,03-2022
4,5,Education,Indonesia Endowment Fund for Education Agency,Awardee,2022-05-11,2024-08-16,2.250000,Jakarta,Indonesia,"[Bogor Agricultural (IPB) University, Ministr...",LPDP is committed to preparing Indonesian futu...,[-],[-],"[Public Speaking, Communication, Team Work]",Unrelated to Job,05-2022,08-2024

In [28]:
skill.head()

,Type,Name,Expertise Level (out of 5),Star,First Use,Latest Use,Years of Experience,Associated with
0,Programming Language,R,5,5,2018-01-01,2024-06-29 03:09:17.280,6.416667,"University of Brawijaya, Bogor Agricultural (I..."
1,Programming Language,Python,5,5,2019-01-01,2024-06-29 03:09:17.280,5.416667,"University of Brawijaya, Bogor Agricultural (I..."
2,Dashboard,RShiny,4,4,2021-01-01,2024-06-29 03:09:17.280,3.416667,Bogor Agricultural (IPB) University
3,Dashboard,Streamlit,4,4,2022-06-01,2024-06-29 03:09:17.280,2.000000,Bogor Agricultural (IPB) University
4,Dashboard,Tableau,3,3,2024-01-01,2024-06-29 03:09:17.280,0.416667,Bogor Agricultural (IPB) University

In [29]:
skill['Associated with'] = skill['Associated with'].apply(stringSplit)
skill.head()

,Type,Name,Expertise Level (out of 5),Star,First Use,Latest Use,Years of Experience,Associated with
0,Programming Language,R,5,5,2018-01-01,2024-06-29 03:09:17.280,6.416667,"[University of Brawijaya, Bogor Agricultural ..."
1,Programming Language,Python,5,5,2019-01-01,2024-06-29 03:09:17.280,5.416667,"[University of Brawijaya, Bogor Agricultural ..."
2,Dashboard,RShiny,4,4,2021-01-01,2024-06-29 03:09:17.280,3.416667,[Bogor Agricultural (IPB) University]
3,Dashboard,Streamlit,4,4,2022-06-01,2024-06-29 03:09:17.280,2.000000,[Bogor Agricultural (IPB) University]
4,Dashboard,Tableau,3,3,2024-01-01,2024-06-29 03:09:17.280,0.416667,[Bogor Agricultural (IPB) University]

In [30]:
getMonthYear(skill, 'First Use')
getMonthYear(skill, 'Latest Use')
skill.head()

,Type,Name,Expertise Level (out of 5),Star,First Use,Latest Use,Years of Experience,Associated with,First Use_MY,Latest Use_MY
0,Programming Language,R,5,5,2018-01-01,2024-06-29 03:09:17.280,6.416667,"[University of Brawijaya, Bogor Agricultural ...",01-2018,06-2024
1,Programming Language,Python,5,5,2019-01-01,2024-06-29 03:09:17.280,5.416667,"[University of Brawijaya, Bogor Agricultural ...",01-2019,06-2024
2,Dashboard,RShiny,4,4,2021-01-01,2024-06-29 03:09:17.280,3.416667,[Bogor Agricultural (IPB) University],01-2021,06-2024
3,Dashboard,Streamlit,4,4,2022-06-01,2024-06-29 03:09:17.280,2.000000,[Bogor Agricultural (IPB) University],06-2022,06-2024
4,Dashboard,Tableau,3,3,2024-01-01,2024-06-29 03:09:17.280,0.416667,[Bogor Agricultural (IPB) University],01-2024,06-2024

In [31]:
language

,Name,Speaking,Writing,Listening,Overall,Level
0,English,Conversational,Conversational,Proficient,Conversational,B1
1,Indonesian,Fluent,Proficient,Fluent,Fluent,-

In [32]:
certification

,Name,Organization,Date Issued,ID
0,Professional Academy Program: Digital Talent S...,Ministry of Communication and Informatics Indo...,2021-11-01,091316107150-19/DTS/BLSDM.KOMINFO/12/2021
1,Classification Analysis Project for Small Busi...,DQLab,2021-11-01,DQLABPRAN2ARRUDH
2,Project Machine Learning for Retail with R: Pr...,DQLab,2021-11-01,DQLABPRJCTEBNPPC
3,Project: Data Scientist Assesment using R,DQLab,2021-11-01,DQLABPAWR1QHDWOU
4,Data Science in Marketing: Customer Segmentation,DQLab,2021-10-01,DQLABMLMKTCJPHFA
5,Data Visualization in Data Science using R,DQLab,2021-10-01,DQLABDTVISVVQNOE
6,Introduction to Data Science using Python,DQLab,2021-10-01,DQLABINTP1NNQIIP
7,Statistics using R for Data Science,DQLab,2021-10-01,DQLABINTS1DRNPNA
8,Microsoft Office Desktop Application,Trust Training Partners,2021-04-01,21UBC04067349

In [33]:
getMonthYear(certification, 'Date Issued')
certification.head()

,Name,Organization,Date Issued,ID,Date Issued_MY
0,Professional Academy Program: Digital Talent S...,Ministry of Communication and Informatics Indo...,2021-11-01,091316107150-19/DTS/BLSDM.KOMINFO/12/2021,11-2021
1,Classification Analysis Project for Small Busi...,DQLab,2021-11-01,DQLABPRAN2ARRUDH,11-2021
2,Project Machine Learning for Retail with R: Pr...,DQLab,2021-11-01,DQLABPRJCTEBNPPC,11-2021
3,Project: Data Scientist Assesment using R,DQLab,2021-11-01,DQLABPAWR1QHDWOU,11-2021
4,Data Science in Marketing: Customer Segmentation,DQLab,2021-10-01,DQLABMLMKTCJPHFA,10-2021

In [34]:
portfolio.head()

,Type,Name,Skill,Tools,Method,Date,Associated with,Link,Status
0,Report,BERT Applications for NLP,"Data Cleaning, Data Exploration, Sentiment Ana...","Python, Tensorflow, Transformers, NLTK, Spacy,...",BERT,2024-06-01,Bogor Agricultural (IPB) University,https://colab.research.google.com/drive/1JkvHy...,Individual
1,Dashboard,Dashboard Making on Inter-Regional Input-Outpu...,"Data Visualization, Dashboard Making, Chatbots...","Python, Streamlit, OpenAI, Microsoft Excel, Git","Clustering, Text Analytics, Large Language Mod...",2024-05-01,Bogor Agricultural (IPB) University,"https://bit.ly/anovasion-irio, https://github....",Teamwork
2,Report,Text Summarization for NLP,"Text Analysis, Natural Language Processing (NLP)","Python, Spacy, NLTK",TextRank,2024-05-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/124W6cPHAv6ZYP...,Individual
3,Report,Sentiment Analysis Methods,"Data Cleaning, Data Exploration, Sentiment Ana...","Python, Tensorflow, Scikit-learn, Transformers...","BERT, Lexicon Based Sentiment Analysis, SMOTE,...",2024-04-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/1vTb72CB9afZND...,Individual
4,Research Paper,Regularization of Machine Learning Models with...,"Classification, Machine Learning, Data Simulat...",R,"LASSO, Ridge, Elastic Net, Penalized Regressio...",2024-03-01,Bogor Agricultural (IPB) University,https://doi.org/10.19184/mims.v24i1.40360,Individual

In [35]:
portfolio['Skill'] = portfolio['Skill'].apply(stringSplit)
portfolio['Method'] = portfolio['Method'].apply(stringSplit)
portfolio['Tools'] = portfolio['Tools'].apply(stringSplit)
portfolio.head()

,Type,Name,Skill,Tools,Method,Date,Associated with,Link,Status
0,Report,BERT Applications for NLP,"[Data Cleaning, Data Exploration, Sentiment ...","[Python, Tensorflow, Transformers, NLTK, S...",[BERT],2024-06-01,Bogor Agricultural (IPB) University,https://colab.research.google.com/drive/1JkvHy...,Individual
1,Dashboard,Dashboard Making on Inter-Regional Input-Outpu...,"[Data Visualization, Dashboard Making, Chatb...","[Python, Streamlit, OpenAI, Microsoft Excel...","[Clustering, Text Analytics, Large Language ...",2024-05-01,Bogor Agricultural (IPB) University,"https://bit.ly/anovasion-irio, https://github....",Teamwork
2,Report,Text Summarization for NLP,"[Text Analysis, Natural Language Processing (...","[Python, Spacy, NLTK]",[TextRank],2024-05-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/124W6cPHAv6ZYP...,Individual
3,Report,Sentiment Analysis Methods,"[Data Cleaning, Data Exploration, Sentiment ...","[Python, Tensorflow, Scikit-learn, Transfor...","[BERT, Lexicon Based Sentiment Analysis, SMO...",2024-04-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/1vTb72CB9afZND...,Individual
4,Research Paper,Regularization of Machine Learning Models with...,"[Classification, Machine Learning, Data Simu...",[R],"[LASSO, Ridge, Elastic Net, Penalized Regre...",2024-03-01,Bogor Agricultural (IPB) University,https://doi.org/10.19184/mims.v24i1.40360,Individual

In [36]:
getMonthYear(portfolio, 'Date')
portfolio.head()

,Type,Name,Skill,Tools,Method,Date,Associated with,Link,Status,Date_MY
0,Report,BERT Applications for NLP,"[Data Cleaning, Data Exploration, Sentiment ...","[Python, Tensorflow, Transformers, NLTK, S...",[BERT],2024-06-01,Bogor Agricultural (IPB) University,https://colab.research.google.com/drive/1JkvHy...,Individual,06-2024
1,Dashboard,Dashboard Making on Inter-Regional Input-Outpu...,"[Data Visualization, Dashboard Making, Chatb...","[Python, Streamlit, OpenAI, Microsoft Excel...","[Clustering, Text Analytics, Large Language ...",2024-05-01,Bogor Agricultural (IPB) University,"https://bit.ly/anovasion-irio, https://github....",Teamwork,05-2024
2,Report,Text Summarization for NLP,"[Text Analysis, Natural Language Processing (...","[Python, Spacy, NLTK]",[TextRank],2024-05-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/124W6cPHAv6ZYP...,Individual,05-2024
3,Report,Sentiment Analysis Methods,"[Data Cleaning, Data Exploration, Sentiment ...","[Python, Tensorflow, Scikit-learn, Transfor...","[BERT, Lexicon Based Sentiment Analysis, SMO...",2024-04-01,Bogor Agricultural (IPB) University,https://drive.google.com/file/d/1vTb72CB9afZND...,Individual,04-2024
4,Research Paper,Regularization of Machine Learning Models with...,"[Classification, Machine Learning, Data Simu...",[R],"[LASSO, Ridge, Elastic Net, Penalized Regre...",2024-03-01,Bogor Agricultural (IPB) University,https://doi.org/10.19184/mims.v24i1.40360,Individual,03-2024

In [37]:
experience.to_csv('data/experience.csv', sep=';', index=False)
skill.to_csv('data/skill.csv', sep=';', index=False)
portfolio.to_csv('data/portfolio.csv', sep=';', index=False)
language.to_csv('data/language.csv', sep=';', index=False)
certification.to_csv('data/certification.csv', sep=';', index=False)